<div class="form-container background-pink">
  <%= link_to root_path do %>
    <i class="fas fa-arrow-alt-circle-left back-btn"></i>
  <% end %>

  <%= simple_form_for(@cocktail) do |f| %>
    <h3>Name Your Poison 😈</h3>
    <%= f.input :name, label: false %>
    <h3>Tell us more... 👀</h3>
    <%= f.input :description, label: false %>
    <%= f.input :photo, as: :file, label:false, class: "submit-blue" %>
    <%= f.submit "Submit Cocktail", class: "btn-blue" %>
  <% end %>
</div>
